# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
import numpy as np

#### 2. Print your NumPy version.

In [3]:
np.version.version

'1.21.5'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [47]:
a = np.random.random((2, 3, 5))

In [48]:
a2 = np.vander(np.linspace(2, 3, 5), 3)

In [ ]:
# Method 3

#### 4. Print *a*.

In [49]:
a

array([[[0.37539092, 0.23252316, 0.05420017, 0.04613827, 0.6264029 ],
        [0.2124314 , 0.71443362, 0.43826577, 0.82107654, 0.59714574],
        [0.49066789, 0.08243957, 0.42529547, 0.43492795, 0.72484912]],

       [[0.02066864, 0.1123514 , 0.89583359, 0.09565519, 0.12141539],
        [0.39856583, 0.65696786, 0.8321288 , 0.48383181, 0.83795628],
        [0.59131229, 0.71995998, 0.53491197, 0.81278107, 0.85285501]]])

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [50]:
b = np.ones((5, 2, 3))

#### 6. Print *b*.

In [58]:
b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [52]:
if a.shape == b.shape:
    print (True)
else:
    print (False)

False

#### 8. Are you able to add *a* and *b*? Why or why not?

##### They don't have the same shape so we can't add them to each other.

In [53]:
total = a + b
total

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [71]:
c = np.transpose(b,(1,2,0))

In [69]:
a.shape, b.shape, b.transpose((1,2,0)).shape

((2, 3, 5), (5, 2, 3), (2, 3, 5))

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

#### Because they have the same shape right now.

In [72]:
d = a + c

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [73]:
print(a)

[[[0.37539092 0.23252316 0.05420017 0.04613827 0.6264029 ]
  [0.2124314  0.71443362 0.43826577 0.82107654 0.59714574]
  [0.49066789 0.08243957 0.42529547 0.43492795 0.72484912]]

 [[0.02066864 0.1123514  0.89583359 0.09565519 0.12141539]
  [0.39856583 0.65696786 0.8321288  0.48383181 0.83795628]
  [0.59131229 0.71995998 0.53491197 0.81278107 0.85285501]]]

In [75]:
print(d)

[[[1.37539092 1.23252316 1.05420017 1.04613827 1.6264029 ]
  [1.2124314  1.71443362 1.43826577 1.82107654 1.59714574]
  [1.49066789 1.08243957 1.42529547 1.43492795 1.72484912]]

 [[1.02066864 1.1123514  1.89583359 1.09565519 1.12141539]
  [1.39856583 1.65696786 1.8321288  1.48383181 1.83795628]
  [1.59131229 1.71995998 1.53491197 1.81278107 1.85285501]]]

#### d is the sum of a and unit(1) array so this is the reason values are different b ut they do have the same shape as an array.

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [76]:
e = a * c

#### 13. Does *e* equal to *a*? Why or why not?

In [77]:
e == a

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### because c array has only one value for all items in itself which is 1.

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [80]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

In [82]:
d_min,d_max, d_mean

(1.0206686399790241, 1.8958335888533324, 1.4747794530931917)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [86]:
f = np.empty((2, 3, 5))

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [94]:
f[(d > d_min) & (d < d_mean)] = 25
f[(d > d_mean) & (d < d_max)] = 75
f[d == d_mean] = 50
f[d == d_min] = 0
f[d == d_max] = 100

        
print (f)

[[[ 25.  25.  25.  25.  75.]
  [ 25.  75.  25.  75.  75.]
  [ 75.  25.  25.  25.  75.]]

 [[  0.  25. 100.  25.  25.]
  [ 25.  75.  75.  75.  75.]
  [ 75.  75.  75.  75.  75.]]]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [95]:
print(d), print(f)

[[[1.37539092 1.23252316 1.05420017 1.04613827 1.6264029 ]
  [1.2124314  1.71443362 1.43826577 1.82107654 1.59714574]
  [1.49066789 1.08243957 1.42529547 1.43492795 1.72484912]]

 [[1.02066864 1.1123514  1.89583359 1.09565519 1.12141539]
  [1.39856583 1.65696786 1.8321288  1.48383181 1.83795628]
  [1.59131229 1.71995998 1.53491197 1.81278107 1.85285501]]]
[[[ 25.  25.  25.  25.  75.]
  [ 25.  75.  25.  75.  75.]
  [ 75.  25.  25.  25.  75.]]

 [[  0.  25. 100.  25.  25.]
  [ 25.  75.  75.  75.  75.]
  [ 75.  75.  75.  75.  75.]]]

(None, None)

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [120]:
g = np.empty_like(d, dtype=str)
g[(d > d_min) & (d < d_mean)] = 'A'
g[(d > d_mean) & (d < d_max)] = 'B'
g[d == d_mean] = 'C'
g[d == d_min] = 'D'
g[d == d_max] = 'E'

print(g)

[[['A' 'A' 'A' 'A' 'B']
  ['A' 'B' 'A' 'B' 'B']
  ['B' 'A' 'A' 'A' 'B']]

 [['D' 'A' 'E' 'A' 'A']
  ['A' 'B' 'B' 'B' 'B']
  ['B' 'B' 'B' 'B' 'B']]]