# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('/Users/basakbuluttekin/IronHack_New/ironhack_labs/DAFT_0410/Module_1/Lab_29_Dataframe-Calculations/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
pokemon.groupby("Legendary")[['Total']].mean().reset_index()

   Legendary       Total
0      False  417.213605
1       True  637.384615

In [10]:
pokemon.groupby("Legendary")[['Total']].std().reset_index()

   Legendary       Total
0      False  106.760417
1       True   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [54]:
import scipy as sp
from scipy import stats

legendary = pokemon[pokemon['Legendary']==True]
non_legendary = pokemon[pokemon['Legendary']==False]
stats = stats.ttest_ind(legendary['Total'], non_legendary['Total'])
print(stats)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [31]:
#Your conclusions here: if the pokemon in legendary group the total is higher. 
#There is a direct proportion between the two values.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [37]:
type_of_pokemons = pokemon['Type 1'].value_counts()
type_of_pokemons

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [46]:
mean_water = (pokemon['Type 1']== 'Water').mean()
std_water =  (pokemon['Type 1']== 'Water').std()
mean_water, std_water,

(0.14, 0.3472041018773404)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [55]:
import scipy as sp
from scipy import stats

In [57]:
water_pokemon = pokemon[pokemon['Type 1']== 'Water']
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']

hypothesis = stats.ttest_ind(water_pokemon['Total'], other_pokemon['Total'])
print(hypothesis)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [58]:
# Your conclusions here: There is not statistically significant difference between water pokemons and non-water pokemons.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [62]:
hypothesis_1 = stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])
print(hypothesis_1)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [60]:
# Your conclusions here: p value is less than 0.05 so our hypothesis is not correct. They are not equal

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [63]:
hypothesis_2 = stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
hypothesis_2

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here: p value is higher than 0.05 so our hypothesis is correct. There is significant difference.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [73]:
from scipy.stats import t

In [75]:
# Your code here:

difference = pokemon['Defense'] - pokemon['Attack']
statistic_eq = stats.ttest_1samp(difference, 0)

mean_diff = np.mean(difference)
std_diff = np.std(difference, ddof=1)
n = len(difference)

t_stat_manual = mean_diff / (std_diff / np.sqrt(n))
p_val_manual = 2 * (1 - t.cdf(abs(t_stat_manual), df=n-1))

print(t_stat_manual)
print(p_val_manual)
print(statistic_eq)

-4.325566393330483
1.714030347943485e-05
Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [120]:
pokemon_new = pd.crosstab([pokemon['Type 1']], pokemon['Legendary'], margins=True, margins_name='Total')
pokemon_new

Legendary  False  True  Total
Type 1
Bug           69     0     69
Dark          29     2     31
Dragon        20    12     32
Electric      40     4     44
Fairy         16     1     17
Fighting      27     0     27
Fire          47     5     52
Flying         2     2      4
Ghost         30     2     32
Grass         67     3     70
Ground        28     4     32
Ice           22     2     24
Normal        96     2     98
Poison        28     0     28
Psychic       43    14     57
Rock          40     4     44
Steel         23     4     27
Water        108     4    112
Total        735    65    800

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [111]:
from scipy.stats import chi2_contingency

In [132]:
# Your code here:
hypothesis_check = chi2_contingency(pokemon_new)
hypothesis_check

(90.42049130585958,
 1.4122475480167004e-06,
 36,
 array([[6.339375e+01, 5.606250e+00, 6.900000e+01],
        [2.848125e+01, 2.518750e+00, 3.100000e+01],
        [2.940000e+01, 2.600000e+00, 3.200000e+01],
        [4.042500e+01, 3.575000e+00, 4.400000e+01],
        [1.561875e+01, 1.381250e+00, 1.700000e+01],
        [2.480625e+01, 2.193750e+00, 2.700000e+01],
        [4.777500e+01, 4.225000e+00, 5.200000e+01],
        [3.675000e+00, 3.250000e-01, 4.000000e+00],
        [2.940000e+01, 2.600000e+00, 3.200000e+01],
        [6.431250e+01, 5.687500e+00, 7.000000e+01],
        [2.940000e+01, 2.600000e+00, 3.200000e+01],
        [2.205000e+01, 1.950000e+00, 2.400000e+01],
        [9.003750e+01, 7.962500e+00, 9.800000e+01],
        [2.572500e+01, 2.275000e+00, 2.800000e+01],
        [5.236875e+01, 4.631250e+00, 5.700000e+01],
        [4.042500e+01, 3.575000e+00, 4.400000e+01],
        [2.480625e+01, 2.193750e+00, 2.700000e+01],
        [1.029000e+02, 9.100000e+00, 1.120000e+02],
        [7.350000e+02, 6.500000e+01, 8.000000e+02]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: pvalue is smaller than 0.05 so we can accept null hypothesis. There is relationship between 
# type and being at the legendary group.